@font-face {
    font-family: "Cardo Regular";
    src: url("../font/Cardo Regular.ttf");
}
@font-face {
    font-family: "Montserrat Light";
    src: url("../font/Montserrat Light.otf");
}
@font-face {
    font-family: "Montserrat Regular";
    src: url("../font/Montserrat Light.otf");
}
body{
    padding:0px;
    margin: 0px;
}
.main-image{
    background-image: url('../images/abc.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width:1170px;
    text-align: center;
    margin: 0 auto;
}
.site-nav ul{
}
.site-nav a{
    color:white;
}
.site-nav li{
    list-style: none;
    float:left;
    padding:0px 15px 15px 10px;
}
.site-nav{
    padding: 85px;
    padding-left: 0px;
    padding-right: 20px;
}
.site-nav a{
    text-decoration:none;
    color:#FFF;
}
.box{
    border:4px solid #FFF;
    height:135px;
    width:212px;
    color:#FFF;
    text-align:center;
    line-height: 135px;
    margin-left:10px;
    float:left;
    margin-right:20px;
    margin-top:-100px;
}
.p1{
    font-size: 48px;
    color:white;
    text-align:center;
    margin-top: 363px;
}
.p2{
    font-size:36px;
    color:white;
    text-align:center;
    margin-top:-45px;
    padding-bottom: 200px;
}
.site-nav1 a{
    color:white;
}
.site-nav1 li{
    list-style: none;
    float:left;
    margin: 14px;
    margin-top: 7px;
    padding-top: 0px;
}
.site-nav1{
    margin-top:-130px;
    padding-left: 10px;
}
.site-nav1 a{
    text-decoration:none;
    color:white;
}
.first-text{
    color:#093087;
    margin-top:35px;
    font-size:33px;
    font-family: "Cardo Regular",serif;
}
.second-text{
    color:#093087;
    margin:-35px;
    font-size:20px;
    font-family: "Montserrat Light",Serif;
}
.third-text{
    color:#093087;
    font-size:20px;
    margin:-25px;
    font-family: "Montserrat Light",Serif;
}
.fourth-text{
    color:#093087;
    font-size:20px;
    margin:-25px;
    font-family: "Montserrat Light",serif;
}
.some-text{
    width:1170px;
    text-align:center;
}
.img2{
    background-image: url('../images/img2.png');
    height:420px;
    padding-top: 100px;
    margin-top: 100px;
    background-repeat: no-repeat;
    padding-bottom: 80px;
}
.text-area {
    width: 1000px;
    background-color: #093087;
    margin: 15px 15px 0px 136px;
}
.text2{
    padding-bottom: 40px;
    padding-top: 40px;
    color:#FFFFFF
}

.text2 p{
    color:white;
    font-size: 20px;
    font-family: "Montserrat Regular";
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 15px;
}
.img1{
    background-image: url("../images/img1.png");
    background-repeat: no-repeat;
    height:200px;
    width:150px;
    padding-bottom: 60px;
    margin:0 auto;
}
.position{
    position:relative;
    bottom:25px;
}
.img-group{
    margin-left: -80px;
}
.img-group li{
    width:100px;
    height:70px;
    list-style:none;
    float:left;
    margin:100px;
}
.contact-us{
    background-color: #f5f5f5;
    margin-top: 450px;
    padding-top: 150px;
    padding-bottom: 30px;
}
.box3
{
    background-color:#093087;
    height:460px;
    width:489px;
    color:white;
    text-align: center;
    line-height: 400px;
    margin-left: 40px;
    margin-top: -120px;
    font-family: "Montserrat Regular";
    box-sizing:border-box;
    border:10px solid #ffffff;
}
.contact{
    color:#093087;
    float:left;
    margin-left: 600px;
    margin-top: -480px;
}
.Cardo-Regular{
    font-family: "Cardo Regular";
}
.font{
    font-family: "Montserrat Regular";
}
span{
    font-family: "Montserrat Light";
}
input[type=text]
{
    width: 265px;
    height:30px;
    font-family: "Montserrat Regular";
    margin: 10px;
    color: #093087;
    padding-left:10px;
    border: none;
    margin-left: -5px;
}
::placeholder{
    color :#093087;
}
input[type=textarea]
{
    color:#093087;
    width:80%;
    height:10%;
    font-family: "Montserrat Regular";
    padding-left:10px;
    padding-top: 20px;
    border:none;
    padding-bottom: 80px;
}
input[type=submit]
{
    background-color:#093087;
    width:130px;
    height:27px;
    border:none;
    color:white;
    margin-top:5px;
}
.last-page{
    padding-top:40px;
    padding-bottom: 100px;
    background-color: #093087;
}
.text8{
    font-family: "Cardo Regular";
    padding-top: 60px;
    margin-left: 95px;
    color:white
}
.text3{
    margin-top: -10px;
    margin-left: 95px;
    color:white;
    line-height: 3px;
    font-family: "Montserrat Regular", Serif;
}
.box4 {
    border: 4px solid;
    height: 135px;
    background-color: none;
    width: 212px;
    color: white;
    text-align: center;
    line-height: 135px;
    margin-left: 500px;
    float: left;
    margin-top: -180px;
}
.text4{
    margin-top: -150px;
    margin-left: 900px;
    line-height: 5px;
    color:white;
    font-family: "Montserrat Regular", Serif;
}